In [35]:
import urllib.request
import zipfile
import os
import ssl

try:
    os.mkdir("files")
except:
    pass

ssl._create_default_https_context = ssl._create_unverified_context

with urllib.request.urlopen('https://courses.cs.tau.ac.il/pyProg/2425a/resources/notebook_resources.zip') as f:
    content = f.read()

with open('files/notebook_resources.zip', 'wb') as f:
    f.write(content)

with zipfile.ZipFile('files/notebook_resources.zip', 'r') as zip_ref:
    zip_ref.extractall('files')

print(os.listdir('files'))

import pandas as pd
pd.options.display.max_rows=5

['baby.png', 'countries-of-the-world.csv', 'dialation.png', 'dialation_2.png', 'dog.png', 'dog_noised.png', 'erosion.png', 'erosion_2.png', 'evil_morty_1.png', 'evil_morty_change.png', 'evil_morty_change_3.png', 'evil_morty_change_noised.png', 'evil_morty_segmentation.png', 'ex1.csv', 'ex2.csv', 'koala.png', 'notebook_resources.zip', 'orders_2_2024.csv', 'orders_3_2024.csv', 'orders_4_2024.csv', 'products2.csv', 'ship.png', 'StudentsGrades.csv', 'witcher_1.csv', 'witcher_2.csv', 'woman_noised.png', '__MACOSX']

# ביצוע שאילתאות בטבלה

שאילתות לטבלה הן פקודות שמאפשרות לסנן, לבחור או לאתר נתונים מתוך הטבלה לפי תנאים מוגדרים מראש.

נטען תחילה את טבלת הציונים שלנו מחדש

In [ ]:
inputFileName = "files/StudentsGrades.csv"
df = pd.read_csv(inputFileName)

כעת, נסחו שאילתא שמחלצת מטבלה את הנתונים המבוקשים, והשוו עם הפתרון למטה.   
רוב השאילתות יכולות להיות מבוצעות בשורת קוד אחת - נסו לצמצם את שורות הקוד שלכם ככל הניתן תוך שמירה על קריאותו.

1. מספר סטונדטים שנכשלו בכל קורס:

In [ ]:
df_no_names = df.drop('Name', axis=1)
print(df_no_names[df_no_names < 60].count())

2. מספר נכשלים פר סטודנט (3 פתרונות אפשריים):

In [ ]:
df_no_names = df.drop('Name', axis=1)
print(df_no_names[df_no_names < 60].count(axis=1))

In [ ]:
print(df_no_names[df_no_names < 60].count().sum())

In [ ]:
print(df_no_names[df_no_names < 60].count(axis=1).sum())

3. מספר נכשלים פר סטונדט - עם שמות הסטודנטים:

In [ ]:
display(df.apply(lambda row: pd.Series([row["Name"], row.drop("Name")[row.drop("Name") < 60].count()]) ,axis=1))

4. שם הסטונדט עם הממוצע הגבוה ביותר (רמז - קראו על `idxmin` ו`idxmax`):

In [190]:
df['Avg'] = df.iloc[:,1:].mean(axis=1)
max_id = df['Avg'].idxmax()
print(max_id)
print(df.loc[max_id]["Name"])

11
Tom


```{admonition} **שימו לב**
:class: warning
`idxmax` ו-`idxmin` מחזירים את **שם השורה או העמודה (תלוי ב`axis`)**, ולכן בד"כ יבואו עם `loc`, אלא אם כן, לשם יש משמעות לשמות 
```

#### דוגמא בה לשם העמודה יש משמעות בפני עצמו

In [ ]:
print(df.drop('Name', axis=1).mean(axis=0).idxmax())

5. שמות כל הסטודנטים שנכשלו ב-`Marine Biology` או ב-`Stellar Cartography`

In [186]:
df.loc[(df['Marine Biology'] < 60) | (df['Stellar Cartography'] < 60), "Name"]

0     Yael
7      Avi
8      Roy
12     Adi
Name: Name, dtype: object

6. שמות כל הסטודנטים שקיבלו מעל 90 ב`Art` ו`Math`

In [188]:
df.loc[(df['Art'] >= 90) & (df['Math'] >= 90), 'Name']

10    Yaniv
Name: Name, dtype: object