In [35]:
import urllib.request
import zipfile
import os
import ssl

try:
    os.mkdir("files")
except:
    pass

ssl._create_default_https_context = ssl._create_unverified_context

with urllib.request.urlopen('https://courses.cs.tau.ac.il/pyProg/2425a/resources/notebook_resources.zip') as f:
    content = f.read()

with open('files/notebook_resources.zip', 'wb') as f:
    f.write(content)

with zipfile.ZipFile('files/notebook_resources.zip', 'r') as zip_ref:
    zip_ref.extractall('files')

print(os.listdir('files'))

import pandas as pd
pd.options.display.max_rows=5

['baby.png', 'countries-of-the-world.csv', 'dialation.png', 'dialation_2.png', 'dog.png', 'dog_noised.png', 'erosion.png', 'erosion_2.png', 'evil_morty_1.png', 'evil_morty_change.png', 'evil_morty_change_3.png', 'evil_morty_change_noised.png', 'evil_morty_segmentation.png', 'ex1.csv', 'ex2.csv', 'koala.png', 'notebook_resources.zip', 'orders_2_2024.csv', 'orders_3_2024.csv', 'orders_4_2024.csv', 'products2.csv', 'ship.png', 'StudentsGrades.csv', 'witcher_1.csv', 'witcher_2.csv', 'woman_noised.png', '__MACOSX']

## `groupby` - סיכום קבוצות של שורות לכדי שורה בודדת

המתודה `groupby` מאפשרת בצע שאלתות מתקדמות באצעות חלוקת את הנתונים בטבלה לקבוצות על פי ערכים בעמודה מסוימת (או במספר עמודות), ולאחר מכן להפעיל על כל קבוצה חישובים ופעולות סיכום.   

לדוגמא, נניח כי בטבלת ציוני הסטודנטים שלנו קיימת עמודה נוספת בשם `Degree`. נוכל להשתמש ב־`groupby("Degree")` כדי לאסוף את כל הסטודנטים של כל קורס לקבוצה אחת, ואז לחשב ממוצע ציונים בתכנות לכל תואר בנפרד.

כדי לממש את התרחיש לעיל, נוסיף לטבלה שלנו עמודה חדשה בשם "Degree"

In [191]:
inputFileName = "files/StudentsGrades.csv"
df = pd.read_csv(inputFileName)
df['Degree']=["Industrial", "Industrial", "mechanical", \
              "Industrial", "Industrial", "electrical", \
              "electrical", "electrical", "electrical", \
              "bio-medical", "bio-medical", "mechanical", "mechanical"]
display(df)

,Name,Programming,Marine Biology,Stellar Cartography,Math,History,Planet Survival,Art,Degree
0,Yael,50,56,70,60,87,65,91,Industrial
1,Nadav,61,77,75,75,63,52,88,Industrial
...,...,...,...,...,...,...,...,...,...
11,Tom,98,76,98,100,98,92,80,mechanical
12,Adi,76,87,34,90,88,84,70,mechanical

### `groupby` התחביר של

####  df.<span style='color:red'>groupby(x)</span><span style='color:blue'>[y]</span>.<span style='color:green'>op()</span>

- <span style='color:red'>חלוקת ה־`DataFrame` לקבוצות (טבלאות משנה מסוג `DataFrame`) לפי הערכים בעמודה או בעמודות `x`</span>  
- <span style='color:blue'>בחירת העמודה או העמודות הרלוונטיות - `y`</span>  
- <span style='color:green'>ביצוע פעולת סיכום על הערכים בכל טבלת משנה לקבלת ערך יחיד באמצעות האופרטור/פונקציה המתאימה (`op`). למשל: `mean()`, `max()`, `min()`, `sum()`, `count()`, `apply()`</span>  

שימו לב ש־`x` ו־`y` יכולים להיות עמודה אחת (מחרוזת בודדת `str`) או מספר עמודות (רשימה של מחרוזות).

לדוגמא, השורה שלהלן מחזירה את הממוצע בתכנות בפילוח לפי סוג תואר

In [192]:
df.groupby(["Degree"])['Programming'].mean()

Degree
Industrial     57.25
bio-medical    85.00
electrical     78.25
mechanical     85.00
Name: Programming, dtype: float64

ואם נרצה לדעת מהו הציון מקסימלי שהתקבל בכל קבוצה?   
פשוט נחליף את פעולת הסיכום ל`max`:

In [193]:
df.groupby(["Degree"])['Programming'].max()

Degree
Industrial      82
bio-medical    100
electrical      95
mechanical      98
Name: Programming, dtype: int64

#### תרגול 

נסו כעת בעצמכם:

כתבו שורת קוד בודדת המחלצת את הסטודנט שיקבל את הציון הכי נמוך בכל תואר (סה"כ 4 סטודנטים כי ישנם 4 תארים).   
הניחו כי בכל תואר קיים סטודנט אחד כזה בדיוק.      

השוו את הקוד שכתבתם הפתרון למטה.


```{admonition} **רמז**
:class: tip
השתמשו ב`idxmin`
```

In [194]:
df.loc[df.groupby(["Degree"])['Programming'].idxmin(), 'Name']

3     Shoshana
10       Yaniv
5         Omer
11         Tom
Name: Name, dtype: object